<!-- Filter Box -->
<div id="filterBox" onclick="toggleFilterOptions()">
    <p>Filters <i class="fas fa-chevron-down"></i></p>
    <div id="filterOptions" class="filter-content">
        <!-- Gender Filter -->
        <div class="filter-item">
            <span>Gender:</span>
            <label><input type="radio" name="genderFilter" value="all" checked>All</label>
            <label><input type="radio" name="genderFilter" value="Male">Male</label>
            <label><input type="radio" name="genderFilter" value="Female">Female</label>
            <label><input type="radio" name="genderFilter" value="Other">Other</label>
        </div>
        <!-- Add more filters below in a similar structure -->
    </div>
</div>